.category-container {
  min-width: 32%;
  height: 40vh;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(8, 8, 8, 0.3);
  border-radius: 10px;
  margin: 0 7.5px 15px;
  overflow: hidden;

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
  }

  h2 {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    color: #dbdbdb;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }

  p {
    margin: 0;
    font-weight: lighter;
    font-size: 14px;
    color: #929292;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }
  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
    }

    & .category-body-container {
      opacity: 0.9;
    }

    & p {
      color: #fab804;
    }

    & h2 {
      color: rgb(250, 184, 4);
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .category-body-container {
    padding: 15px 25px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 20px rgba(8, 8, 8, 0.3);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: absolute;
  }
  .category-body-container:active {
    transform: scale(0.98);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
