.product-card-container {
  height: 450px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px rgba(8, 8, 8, 0.3);
  border: solid 1px rgb(218, 218, 218);
  border-radius: 5px;
  padding: 15px;
  background: rgb(252, 252, 252);
  position: relative;
  transition: all ease-in 0.1s;
  text-transform: uppercase;

  .cart-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #000000;
    background-color: rgba(204, 205, 206, 0.637);
    padding: 15px 22px;
    border-radius: 100px;
    box-shadow: 0 3px 8px rgba(8, 8, 8, 0.2);
    transition: all ease-out 0.05s;
  }

  .cart-button:active {
    background-color: #3636369c;
    color: #fab804;
  }

  .product-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }
  .footer {
    border-top: solid 1px #fab804;
    color: #666666;
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    .name {
      text-align: left;
      font-size: 18px;
      width: 60%;
      letter-spacing: -0.4px;
      transition: all ease-out 0.2s;
    }

    .price {
      text-align: right;
      font-size: 25px;
      width: 30%;
      transition: all ease-out 0.2s;
      font-weight: 500;
    }
  }

  &:hover {
    .price {
      color: #fab804;
    }

    .name {
      color: #302f2f;
      font-weight: 500;
    }
  }
}

.product-card-container:hover {
  box-shadow: 0 10px 20px rgba(8, 8, 8, 0.3);
  transform: translateY(-10px);
}
